@import "~purecss/build/buttons-min.css";

/*.button-change{
  border-radius: 4px;
  color: red;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in;

  &:hover{
    opacity: .9;
    transform: scale(1.1);
  }
}
*/
